body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.Background1 {
    background-size: cover;
    background-position: center;
    align-items: center;
}
.payment-container {
    background: aliceblue;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 50%; /* Increase width for better layout */
    margin-top: 3.5cm;
    margin-bottom: 1cm;
}
.payment-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-column {
    width: 48%; /* Ensures columns take up equal space */
}
.button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.3cms;
}
.button:hover {
    background-color: #0056b3;
}