body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: aliceblue;
    text-align: center;
    margin-top: 3.5cm;
    margin-bottom: 1cm;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
    background: #fff;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #007BFF;
    color: white;
}

td {
    background: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
